.footer {
   background-color: var(--brown);
   color: #fff;
   padding-block: 28px;
   .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      @media screen and (max-width: 980px) {
         flex-direction: column;
      }
   }
}